html{width:100%;height:100%}
body{width:100%;height:100%;font-family:"微软雅黑","Times New Roman"}
a{blr:expression(this.onFocus=this.blur());outline:0;color:#474747}
a:hover{color:#3BB4F2;blr:expression(this.onFocus=this.blur());outline:0}
.blog-header{margin-top:3rem}
#blog hr{margin:.6rem 0}
#blog h2{color:#3BB4F2}
.blog-nav{padding:0 1.3rem}
@media only screen and (max-width:640px){.blog-header{margin-top:1rem}
.blog-nav li{text-align:center}
.blog-nav{padding:0}
}
.blog-nav li a{font-weight:700}
.blog-nav li a:hover{background-color:#fff;color:#3BB4F2}
.blog-button{width:95%;height:100%;margin-left:1.5rem;background-color:#3BB4F2}
#form span{left:1.5rem}
.am-dropdown-content li a{background-color:transparent}
.am-dropdown-content li a:hover{background-color:#3BB4F2}
.blog-text-center{text-align:center}
.blog-bor{border:1px solid #e5e5e5}
.am-topbar-nav>li.am-active>a,.am-topbar-nav>li.am-active>a:focus,.am-topbar-nav>li.am-active>a:hover{border-radius:0;color:#3BB4F2;background:0 0;text-align:center}
.am-topbar-nav>li>a:hover:after{opacity:0}
@media only screen and (min-width:641px){.am-topbar-nav>li.am-active>a:after{opacity:0}
}
@media only screen and (min-width:1200px){.blog-fixed{max-width:1200px}
}
.blog-entry-img{padding:0;max-width:100%;height:auto}
.blog-entry-article{margin:3rem 0;padding-bottom:3rem;border-bottom:1px solid #e5e5e5}
@media only screen and (max-width:640px){.blog-entry-article{margin-top:0;padding-bottom:1rem;text-align:center}
}
.blog-entry-text{padding:1rem 1rem 0 1rem}
.blog-entry-text h1{margin-top:0;color:#3d3d3d;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.blog-entry-text p{max-height:8rem;overflow:hidden}
.blog-sidebar{margin-top:3rem;padding:0 1.5rem 0 3rem}
.blog-title{margin-top:-1.5rem}
.blog-title span{background-color:#fff;padding:0 1.5rem}
.blog-sidebar-widget{padding:0 2rem;margin-bottom:4rem}
.blog-sidebar-widget ul.am-list li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.blog-sidebar-widget ul.am-list li span{color:#EE4000;margin:0 1rem}
h1 span{color:#333}
.blog-icon{width:3.4rem;border:1px solid #e5e5e5;padding:.5rem;color:#3d3d3d}
.blog-icon:hover{color:#fff;background:#3BB4F2;border:1px solid #3BB4F2}
.blog-color{color:#3BB4F2}
.blog-continue{color:#000;border:.2rem solid gray;padding:.5rem 1rem;font-weight:700;display:none}
.blog-continue:hover{background-color:#3BB4F2;color:#fff;border:.1rem #fff}
.blog-tag{background:#F3F3F3;margin:.3rem .3rem;line-height:2.5rem;float:left;border:1px solid #eee;padding:.2rem .8rem .2rem .8rem;white-space:nowrap}
.blog-tag:hover{background:#3BB4F2;color:#fff}
.blog-clear-margin{margin-left:0!important;margin-right:0!important}
.blog-clear-padding{padding:0 0 1.5rem 0!important}
.blog-tag-left{text-align:left}
.blog-footer{padding:1rem 0;margin-top:5rem;background-color:#3BB4F2;color:#fff!important}
.blog-footer-padding{padding:3rem 0}
.blog-footer a{color:#fff}
.blog-footer span{color:#fff}
.blog-article-p{margin:3rem 0}
.blog-author-img{width:8rem;height:8rem}
@media only screen and (max-width:641px){.blog-author-img{width:6rem;height:6rem}
}
.blog-article-margin{margin:3rem 0}
.blog-clear-left{padding-left:0}
.blog-clear-right{padding-right:0}
.blog-slider-desc{width:50%;height:50%;overflow:hidden;border:.3rem solid #fff;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);background-color:transparent}
.blog-slider-con{position:absolute;left:.5%;top:1%;width:99%;height:98%;border:.3rem solid #fff;padding:3rem 8rem;background-color:#fff}
.blog-h-margin{margin:0}
.am-slider-carousel li{margin-right:25px}
.blog-comment{padding-left:.625rem}
.img-layout{width:300px;height:200px}
#container{width:100%;margin:auto}
#container div{-webkit-box-shadow:0 4px 15px -5px #555;box-shadow:0 4px 15px -5px #555;background-color:#fff;width:220px;padding:2px;margin:5px}
#container>div img{padding:0;display:block;width:100%}
.time-year{margin-bottom:3rem;margin-top:3rem}
.timeline-year li{list-style:none}
.timeline-span{border-left:2px solid #3BB4F2}
